*.o
*.ko
*.o.cmd
*.cmd
*.order
*.builtin
*.dtb
*.tmp


.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/bswapsdi2.S
arch/arm/boot/compressed/hyp-stub.S
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.lzo
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/uImage
arch/arm/boot/zImage
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
arch/arm/vdso/vdso.lds
arch/arm/vdso/vdso.so
arch/arm/vdso/vdso.so.dbg
arch/arm/vdso/vdso.so.raw
arch/arm/vdso/vdsomunge
drivers/media/usb/gspca/gspca_main.mod.c
drivers/net/wireless/rtl8723BU/8723bu.mod.c
drivers/rpmsg/imx_rpmsg_pingpong.mod.c
drivers/rpmsg/imx_rpmsg_tty.mod.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
drivers/video/backlight/l4f00242t03.mod.c
drivers/video/backlight/lcd.mod.c
drivers/video/backlight/platform_lcd.mod.c
drivers/video/logo/clut_vga16.c
drivers/video/logo/logo_blackfin_clut224.c
drivers/video/logo/logo_blackfin_vga16.c
drivers/video/logo/logo_dec_clut224.c
drivers/video/logo/logo_linux_clut224.c
drivers/video/logo/logo_linux_clut224.ppm-back
drivers/video/logo/logo_linux_mono.c
drivers/video/logo/logo_linux_vga16.c
drivers/video/logo/logo_m32r_clut224.c
drivers/video/logo/logo_mac_clut224.c
drivers/video/logo/logo_parisc_clut224.c
drivers/video/logo/logo_sgi_clut224.c
drivers/video/logo/logo_spe_clut224.c
drivers/video/logo/logo_sun_clut224.c
drivers/video/logo/logo_superh_clut224.c
drivers/video/logo/logo_superh_mono.c
drivers/video/logo/logo_superh_vga16.c
firmware/imx/sdma/sdma-imx6q.bin
firmware/imx/sdma/sdma-imx6q.bin.gen.S
firmware/imx/sdma/sdma-imx7d.bin
firmware/imx/sdma/sdma-imx7d.bin.gen.S
include/config/
include/generated/
kernel/bounds.s
kernel/time/hz.bc
kernel/time/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
lib/oid_registry_data.c
scripts/conmakehash
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/kallsyms
scripts/kconfig/mconf
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
scripts/sortextable
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio.gz
vmlinux

